<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<!-- Start Slider -->
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="images/img1.jpeg" class="d-block w-100" alt="..."
						heights="350px">
				</div>
				<div class="carousel-item ">
					<img src="images/img2.jpeg" class="d-block w-100" alt="..."
						heights="350px">
				</div>
				<div class="carousel-item ">
					<img src="images/img3.jpg" class="d-block w-100" alt="..."
						heights="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!-- END Slider -->

		<!-- Start Category Module -->
		<div class="container">

			<div class="row">
				<p class="text-center fs-4">Category</p>
				<!-- Electronics Section -->
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/category_Images/electronics.png" width="65%"
								heights="140px">
							<p>Electronics</p>
						</div>
					</div>
				</div>
				<!--Beauty Section  -->
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/category_Images/beauty.png" width="65%"
								heights="140px">
							<p>Beauty</p>
						</div>
					</div>
				</div>
				<!-- Clothes Section -->
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/category_Images/clothes.png" width="65%"
								heights="140px">
							<p>Clothes</p>
						</div>
					</div>
				</div>
				<!-- Laptop Section -->
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/category_Images/laptop.png" width="65%"
								heights="140px">
							<p>Laptop</p>
						</div>
					</div>
				</div>
				<!-- Mobile Section -->
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/category_Images/phone.png" width="65%"
								heights="140px">
							<p>Mobile</p>
						</div>
					</div>
				</div>
				<!-- Grocery Section -->
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/category_Images/grocery.png" width="65%"
								heights="140px">
							<p>Grocery</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END Category Module -->
		<!-- Start Latest Product Module -->
		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>
				<!-- Product 1 Section -->
				<div class="col-md-3">
					<div
						class="card shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/Latest_Product/hp.png" width="65%"
								heights="140px">
							<p>HP Laptop</p>
						</div>
					</div>
				</div>
				<!-- Product 2 Section -->
				<div class="col-md-3">
					<div
						class="card shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/Latest_Product/hp.png" width="65%"
								heights="140px">
							<p>HP Laptop</p>
						</div>
					</div>
				</div>
				<!-- Product 3 Section -->
				<div class="col-md-3">
					<div
						class="card shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/Latest_Product/hp.png" width="65%"
								heights="140px">
							<p>HP Laptop</p>
						</div>
					</div>
				</div>
				<!-- Product 4 Section -->
				<div class="col-md-3">
					<div
						class="card shadow-sm pd-3 mb-5 bg-body-tertiary">
						<div class="card-body text-center">
							<img src="images/Latest_Product/hp.png" width="65%"
								heights="140px">
							<p>HP Laptop</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Latest Product Module -->
	</section>
</body>
</html>